* {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.empty {
  min-height: 150px;
  min-width: 150px;
  border: 3px solid #000;
  background: #fff;
  margin: 20px;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: 5px solid #ccc;
}

.hovered {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
